header(class='portfolio-header')
  div(class="portfolio-timeline" role="menu")
    div(class="portfolio-timeline__dot active" data-index="0" role="button") 
    div(class="portfolio-timeline__dot" data-index="1" role="button")
    div(class="portfolio-timeline__dot" data-index="2" role="button")
  
    