@import "_func.scss";

body {
  background: #f3f3f3;
}

.prefix {
  @include mobile {
    font-weight: 500;
    font-size: 18px;
  }
}

.whitebox {
  @include mobile {
    border: $boxBorder;
    background: #efefef;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
  }
}

.ellipsis {
  width: 290px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
