$boxBorder: 1px solid #e6e6e6;
$background: rgba(0, 0, 0, 0.03);
$gray: #5f6368;
$blue: #3897f0;
$subjectBorder: 3px solid black;
$sectionBoxShadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
$sectionPadding: 1rem;
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;
